.header {
  background-color: #ffffff;
  box-shadow: 6px 6px 8px rgba(98, 96, 99, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding-bottom: 10px;
}
.header__logo {
  margin-bottom: 4px;
  text-align: center;
}
.header__nav {
  display: none;
}
.header__title,
.header__mobile-nav-title {
  display: none;
}
.header__logo-image {
  width: 88px;
  height: 46px;
}
.header__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 24px;
}
.header__item {
  display: inline-block;
  padding: 0 16px;
}
.header__link {
  font-weight: bold;
  font-size: 0.9rem;
  color: #626063;
  white-space: nowrap;
}
.header__item:hover .header__link {
  color: #fd7893;
}

.header__mobile-button {
  position: relative;
  z-index: 3;
}
.header__mobile-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
}
.header__mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  padding-top: 60px;
  background-color: #DBA2BA;
  transform: translateY(calc(-100% - 60px));
  transition: transform 0.5s;
  z-index: 1;
}
.header__mobile-nav.open {
  transform: translateY(0%);
}
.header__mobile-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.header__mobile-item {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
}
.header__mobile-item a {
  text-decoration: none;
  color: $baseColor;
  margin: 0 auto;
}
.header__mobile-item a:hover {
  color: $baseFontColor;
}

.hero {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.hero__image {
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
}

.hero__circle {
  position: absolute;
  top: 18%;
  left: 7%;
  width: 184px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #fd7893, #fbd8b5);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.12);
  opacity: 0.85;
  animation: uneune 3.5s linear infinite;
}

@keyframes uneune {
  0% {
    border-radius: 61% 53% 62% 51%/66% 58% 64% 58%;
  }

  25% {
    border-radius: 65% 50% 53% 54%/56% 58% 52% 53%;
  }

  50% {
    border-radius: 62% 66% 52% 63%/58% 64% 57% 60%;
  }

  75% {
    border-radius: 65% 48% 64% 54%/60% 61% 58% 52%;
  }

  100% {
    border-radius: 61% 53% 62% 51%/66% 58% 64% 58%;
  }
}

.hero__title {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 16px;
}

.hero__title__accent {
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 16px;
}

.hero__title__accent__ja {
  padding-top: 0.3em;
  background-position: top left -1px;
  background-repeat: repeat-x;
  background-image: radial-gradient(0.1em 0.1em at center center, white, white 100%, transparent);
  background-size: 1em 0.4em;
}

.hero__subtitle {
  white-space: pre-line;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
}

.hamburger__items {
  position: absolute;
  z-index: 100;
	top: 12px;
	right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  transition: all .5s;
  cursor: pointer;
  max-height: 100%;
  background-color: transparent;
  border: none;
}
.hamburger__line {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  width: 26px;
  height: 2px;
  border-radius: 1px;
  transition: all 0.5s;
}
.hamburger__line::before {
  position: absolute;
  top: -400%;
  content: "";
  display: block;
  background-color: #222;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  transition: all 0.5s;
}
.hamburger__line::after {
  position: absolute;
  top: 400%;
  content: "";
  display: block;
  background-color: #222;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  transition: all 0.5s;
}
.hamburger__line.open {
  background-color: transparent;
}
.hamburger__line.open::before {
  background-color: white;
  transform: translateY(8px) rotate(-315deg);
}
.hamburger__line.open::after {
  background-color: white;
  transform: translateY(-8px) rotate(315deg);
}
.hamburger__name {
  display: block;
  white-space: nowrap;
  visibility: hidden;
}
.hamburger__title {
  font-size: 0.5rem;
  font-weight: bold;
  color: #222;
}
.hamburger__title.open {
  background-color: #42D6D1;
}


.hero__title {
  font-size: 1rem;
  margin-bottom: 16px;
}
.hero__title__accent {
  font-size: 1.2rem;
  margin-bottom: 12px;
}
.hero__subtitle {
  display: block;
  color: $c-highlightFontColor;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2rem;
}

.hero__circle {
  left: 3%;
  width: 240px;
  height: 240px;
}

@media all and (min-width: 768px) {
  .hero__circle {
    top: 18%;
    left: 8%;
    width: 336px;
    height: 336px;
  }
  .hero__title {
    font-size: 1.3rem;
    margin-bottom: 28px;
  }
  .hero__title__accent {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .hero__subtitle {
    display: block;
    color: $c-highlightFontColor;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5rem;
  }

  .header__nav {
    display: block;
  }
  .header__mobile-button,
  .header__mobile-icons,
  .header__mobile-nav,
	.hamburger__items {
    display: none;
  }
}
