.footer {
  background-color: #626063;
}

.footer__list {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 24px 0px 24px 68px;
}

.footer__item {
  list-style: none;
  opacity: 0.8;
  margin-bottom: 16px;
  height: 16px;
  font-size: 0.85rem;
  flex-basis: 23%;
}

.footer__item:nth-child(n) {
  margin-right: 8px;
}

.footer__item:last-child,
.footer__item:nth-last-child(2) {
  margin-bottom: 0;
}

.footer__link {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline #ffffff;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 12px;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: bold;
  white-space: nowrap;
}
