.hero {
  position: relative;
  background-image: url("../img/intro_bg.jpg");
  background-size: cover;
  height: 100vh;
  max-height: 700px;
}

.hero__circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #fd7893, #fbd8b5);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
  opacity: 0.85;
  animation: uneune 3.5s linear infinite;
}

@keyframes uneune {
  0% {
    border-radius: 61% 53% 62% 51%/66% 58% 64% 58%;
  }

  25% {
    border-radius: 65% 50% 53% 54%/56% 58% 52% 53%;
  }

  50% {
    border-radius: 62% 66% 52% 63%/58% 64% 57% 60%;
  }

  75% {
    border-radius: 65% 48% 64% 54%/60% 61% 58% 52%;
  }

  100% {
    border-radius: 61% 53% 62% 51%/66% 58% 64% 58%;
  }
}

.hero__title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 16px;
}

.hero__title__accent {
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 16px;
}

.hero__title__accent__ja {
  padding-top: 0.3em;
  background-position: top left -1px;
  background-repeat: repeat-x;
  background-image: radial-gradient(0.1em 0.1em at center center, white, white 100%, transparent);
  background-size: 1em 0.4em;
}

.hero__subtitle {
  white-space: pre-line;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}
