html {
  font-family: "Shippori Mincho", "Noto Sans JP", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #f4f2ef;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.wrapper {
  overflow: hidden;
}
li {
  list-style: none;
}
summary {
  list-style: none;
}

/******************************************************************************
 common.css
******************************************************************************/
.hero {
  margin-top: calc(68px - 10px);
}

.service,
.flow,
.faq,
.price {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature {
  padding-bottom: 50px;
}
.feature__title {
  margin-bottom: 52px;
}

.contents {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 1024px;
}

/******************************************************************************
 header.css 
******************************************************************************/
.header {
  background-color: #ffffff;
  box-shadow: 6px 6px 8px rgba(98, 96, 99, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding-bottom: 10px;
}
.header__logo {
  margin-bottom: 4px;
  text-align: center;
}
.header__title {
  display: none;
}
.header__logo-image {
  width: 88px;
  height: 46px;
}
.header__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 24px;
}
.header__item {
  display: inline-block;
  padding: 0 16px;
}
.header__link {
  font-weight: bold;
  font-size: 0.9rem;
  color: #626063;
  white-space: nowrap;
}
.header__item:hover .header__link {
  color: #fd7893;
}

/******************************************************************************
 hero.css
******************************************************************************/
.hero {
  position: relative;
  background-image: url("../img/intro_bg.jpg");
  background-size: cover;
  height: 100vh;
  max-height: 700px;
}

.hero__circle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #fd7893, #fbd8b5);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
  opacity: 0.85;
  animation: uneune 3.5s linear infinite;
}

@keyframes uneune {
  0% {
    border-radius: 61% 53% 62% 51%/66% 58% 64% 58%;
  }

  25% {
    border-radius: 65% 50% 53% 54%/56% 58% 52% 53%;
  }

  50% {
    border-radius: 62% 66% 52% 63%/58% 64% 57% 60%;
  }

  75% {
    border-radius: 65% 48% 64% 54%/60% 61% 58% 52%;
  }

  100% {
    border-radius: 61% 53% 62% 51%/66% 58% 64% 58%;
  }
}

.hero__title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 16px;
}

.hero__title__accent {
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 16px;
}

.hero__title__accent__ja {
  padding-top: 0.3em;
  background-position: top left -1px;
  background-repeat: repeat-x;
  background-image: radial-gradient(0.1em 0.1em at center center, white, white 100%, transparent);
  background-size: 1em 0.4em;
}

.hero__subtitle {
  white-space: pre-line;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}
/******************************************************************************
 feature.css  
******************************************************************************/
.feature {
  background-color: #f4f2ef;
}

.feature__title {
  font-size: 1.6rem;
  text-align: center;
  padding: 40px 0;
  color: #626063;
  margin-bottom: 80px;
}

.feature__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature__item {
  flex-basis: 28%;
  margin-bottom: 80px;
}

.card {
  position: relative;
  min-height: 200px;
  height: auto;
  background-color: #ffffff;
  text-align: center;
  border-radius: 12px;
}

.card:hover .card__text {
  display: block;
  font-size: 0.9rem;
  color: #fd7893;
}

.card__circle {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
}

.card__point__char1,
.card__point__char2,
.card__point__char3,
.card__point__char4,
.card__point__char5,
.card__number {
  font-size: 0.8rem;
  position: absolute;
  transform: translateX(-50%);
  color: #626063;
}

.card__point__char1 {
  top: -30%;
  left: -5%;
  transform: rotate(-45deg);
}

.card__point__char2 {
  top: -45%;
  left: 16%;
  transform: rotate(-24deg);
}

.card__point__char3 {
  top: -50%;
  left: 50%;
}

.card__point__char4 {
  top: -44%;
  left: 65%;
  transform: rotate(28deg);
}

.card__point__char5 {
  top: -28%;
  left: 87%;
  transform: rotate(45deg);
}

.card__number {
  position: absolute;
  transform: translateX(-50%);
  top: 15%;
  left: 50%;
  font-size: 1.9rem;
  font-weight: bold;
  color: #fd7893;
}

.card__details {
  padding: 40px 20px;
  color: #626063;
}

.card__details[open]:hover .card__text {
  display: none;
}

.card__summary {
  cursor: pointer;
  list-style: none;
}

.card__title {
  text-decoration: underline wavy #5cb9be;
  padding-bottom: 12px;
  color: #626063;
}

.card__text {
  display: none;
}

/******************************************************************************
 price.css  
******************************************************************************/
.price {
  letter-spacing: 0.15rem;
  background-color: #fff;
}
.price__title {
  color: #626063;
  text-align: center;
}
.price__name {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #626063;
  text-decoration: underline wavy #cfdedf 2px;
  text-underline-offset: 0.5em;
  padding: 40px 0 32px;
  text-align: center;
}

.table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  border: #a2997f solid 1px;
  table-layout: fixed;
  text-align: center;
}

th {
  padding: 0.9rem 0;
  font-size: 1.2rem;
  color: #f5f5f5;
  background-color: #a2997f;
  border: #403a32 solid 1px;
}

td {
  padding: 0.8rem 0;
  font-size: 1rem;
  background-color: #f4f2ef;
  color: #626063;
}

th:nth-child(1) {
  width: 25%;
}
th:nth-child(2) {
  background-color: #6e6457;
  width: 14%;
}
th:nth-child(3) {
  background-color: #403a32;
}

/******************************************************************************
 flow.css
******************************************************************************/
.flow {
  background-color: #f4f2ef;
}

.flow__title {
  text-align: center;
  color: #626063;
  padding: 40px 0;
}

.flow__list {
  list-style: none;
  padding: 0 32px;
}

.flow__item::after {
  display: inline-block;
  content: "・・・";
  position: relative;
  left: 25px;
  writing-mode: vertical-rl;
  font-weight: bold;
  letter-spacing: -6px;
  padding-bottom: 8px;
}

.flow__item:last-child::after {
  content: "";
}

.ellipse {
  display: flex;
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  border-radius: 36px;
  padding: 4px;
}

.ellipse__inner {
  position: relative;
  width: 68px;
  height: 64px;
  background-color: #fd7893;
  border-radius: 36px;
  margin-right: 16px;
}

.ellipse__circle {
  line-height: 1.25;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.ellipse__step {
  color: #ffffff;
  font-size: 0.7rem;
}

.ellipse__number {
  display: block;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
}

.ellipse__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84%;
  padding-right: 12px;
  color: #626063;
}

.ellipse__title {
  padding: 0 4px;
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(transparent 60%, #fbf2f2 60%);
  white-space: pre-line;
}

.ellipse__text {
  font-size: 1rem;
  white-space: pre-line;
}

/******************************************************************************
 faq.css  
******************************************************************************/
.faq {
  background: #fff;
  padding: 60px 0;
}

.faq__title {
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
  color: #626063;
}

.faq__list {
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.faq__item {
  background-color: #fff;
  border: #626063 solid 1px;
  border-radius: 8px;
  margin-bottom: 24px;
  min-height: 66px;
  position: relative;
}

.faq__q {
  position: absolute;
  top: 12px;
  left: 0;
  padding: 0 16px 0 8px;
  height: 32px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  background: #42d6d1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
}

.faq__q::before {
  position: absolute;
  content: "";
  top: 0;
  left: -7px;
  border: none;
  height: 38px;
  width: 8px;
  background: #42d6d1;
  border-radius: 4px 0 0 4px;
}

.faq__summary {
  cursor: pointer;
  padding: 0 12px 0 48px;
  display: flex;
  align-items: center;
  min-height: 66px;
  letter-spacing: 0.1rem;
  color: #626063;
}

.faq__a {
  position: absolute;
  top: 80px;
  left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fd7893;
}
.faq__text {
  padding: 12px 12px 12px 48px;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  animation: fadeIn 0.5s ease-in-out;
  color: #626063;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(+50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/******************************************************************************
 footer.css
******************************************************************************/
.footer {
  background-color: #626063;
}

.footer__list {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 24px 0px 24px 68px;
}

.footer__item {
  list-style: none;
  opacity: 0.8;
  margin-bottom: 16px;
  height: 16px;
  font-size: 0.85rem;
  flex-basis: 23%;
}

.footer__item:nth-child(n) {
  margin-right: 8px;
}

.footer__item:last-child,
.footer__item:nth-last-child(2) {
  margin-bottom: 0;
}

.footer__link {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline #ffffff;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 12px;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: bold;
  white-space: nowrap;
}
